/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 18px;
  right: 36px;
  top: 40px;
  opacity: 0.5;
  cursor: pointer;
}

.bm-burger-button:hover {
  opacity: 1 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
  left: -148px !important;
  width: 240% !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
  right: -299px !important;
}

.bm-morph-shape {
  width: 125px !important;
}

a {
  color: #d1d1d1;
  text-decoration: none;
}


a:hover, a:focus {
  color: #c94e50;
}

.bm-item-list h2 {
  text-align: left;
  padding-left: 30px;
}

.bm-item-list h2 .menu-logo {
  margin-left: 45px;
}

.bm-item-list a {
    padding: 1em;
    text-transform: uppercase;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-left: 30px;
    transition: background 0.3s, box-shadow 0.3s;
}

i.fa {
  margin-right: 5px;
}

.bm-item-list a:hover,
.bm-item-list a:focus {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}
