.clocklist-enter {
  opacity: 0.01;
  width: 0px;
}

.clocklist-enter.clocklist-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.clocklist-leave {
  opacity: 1;
  width: 100px;
}

.clocklist-leave.clocklist-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}